/* fonts */
@font-face {
  font-family: "Raleway-regular";
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-medium";
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: "Raleway-bold";
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: "Raleway-extrabold";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: "Raleway-semibold";
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway-black";
  src: url(../fonts/Raleway-Black.ttf);
}

/* colors  */

:root {
  --primary: #eebf00;
  --secondary: #232b38;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
}

/* Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  border: 1px solid red;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}

header.topbar {
  background-color: var(--secondary);
  color: var(--pure);
  font-family: "Raleway-semibold";
  padding: 0.75rem 0;
}

header.topbar .icons a {
  margin-right: 0.6rem;
}

header.topbar .auth > div img {
  margin-right: 0.35rem;
}

.divider {
  margin: 0 1rem;
}

header.topbar .auth > div a {
  color: var(--pure);
  text-decoration: none;
}

header.topbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.jcs {
  justify-content: space-between;
}

.jcc {
  justify-content: center;
}

.ic {
  align-items: center;
}

header.topbar .container .auth {
  display: flex;
  align-items: center;
}
nav .top {
  padding: 1.5rem 0;
}

nav .top .contact h5,
nav .top .time h5 {
  font-family: "Raleway-black";
  margin-bottom: 0.25rem;
}

nav .top .contact h6,
nav .top .time h6 {
  font-size: 0.75rem;
  color: var(--ternary);
  font-family: "Raleway-medium";
  letter-spacing: 0.055rem;
}

nav .top .contact img,
nav .top .time img {
  margin-right: 1rem;
}

nav .navbar a {
  text-decoration: none;
  color: var(--secondary);
  font-family: "Raleway-semibold";
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}

nav .navbar a.active {
  color: var(--pure);
  background: var(--primary);
}

nav .navbar a:hover {
  background-color: var(--primary);
  color: var(--pure);
}

.magic-shadow {
  position: relative;
  background: var(--heaven);
}

.magic-shadow::after {
  content: "";
  display: block;
  width: 100%;
  height: 69px;
  background: url("../icons/shadow.svg");
  bottom: -22px;
  background-position: center;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
}

header.hero {
  height: 600px;
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  overflow: hidden;
}
header.hero .container {
  position: relative;
  /* overflow: hidden; */
}
header.hero .welcome {
  margin-bottom: 0.25rem;
}
header.hero .welcome span {
  font-family: "Raleway-bold";
  color: var(--secondary);
  margin-right: 0.75rem;
}

header.hero h1 {
  font-family: "Raleway-extrabold";
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

header.hero h1 span {
  color: var(--primary);
}

header.hero p {
  font-family: "Raleway-medium";
  width: 50%;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.75rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 0.8;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  color: var(--heaven);
  background-color: var(--primary);
}

.btn-primary:hover {
  color: var(--primary);
  background-color: var(--heaven);
  border: 1px solid var(--primary);
}

.btn-secondary:hover {
  color: var(--secondary);
  background-color: var(--heaven);
  border: 1px solid var(--secondary);
}

.btn-secondary {
  color: var(--heaven);
  background-color: var(--secondary);
}

header.hero button:first-child {
  margin-right: 0.5rem;
}

header.hero .hero-image img {
  position: absolute;
  top: -40px;
  right: 40px;
}
